<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style_express.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome bbb to <%= title %></p>
    <a target="_blank" href="/html/sample_01.html">AHERE ARE THE PUMPSE</a>
  </body>
</html>
