body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.horizon {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  background-color: lightcoral;
} 
.absolute { position: absolute; }
.relative { position: relative; }
div.circular {
  width:30px;
  height:30px;
  border-radius:15px;
  border: 1px solid black;
}
div.circular div.sensor_threshold {
  margin-top: 7px; 
  margin-left: 7px;
}

.pump_widget.flow_rate {
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
}

.basin.outer span.basin_level {
  position: absolute;
  top: 0px;
  right: 2px;
}

.arrow-up {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 26px solid #000000;
}

.arrow-down {
  margin-top: 5px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 26px solid #000000;
}

.arrow-right {
  margin-left: 5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 26px solid #000000;
}

.arrow-left {
  margin-right: 5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right:  26px solid #000000; 
}

.diagonal_line {
  position: relative;
  background-size:100% 100%;
  height: 100%;
  width: 100%;
}
.diagonal_line.positive.running {
    background-image: url(../img/plus45_on.png);
}
.diagonal_line.positive.not_running {
    background-image: url(../img/plus45_off.png);
}
.diagonal_line.negative.running {
    background-image: url(../img/minus45_on.png);
}
.diagonal_line.negative.not_running {
    background-image: url(../img/minus45_off.png);
}
span.pipe {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

pre {display:inline;margin:0px 2px;}
