<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style_express.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to grunt-built-pumps. This app features the following learning points:
      <ul>
        <li>usage of <a href="http://gruntjs.org" target="_blank">grunt</a> to implement a comprehensive, professional build flow
          <ul>
            <li>development:
              <ul>
                <li>lint js files</li>
                <li>run mocha/chai in TDD style</li>
                <li>watch file modifications and run lint & tests in real time</li>
              </ul>
            </li>
            <li>deploy:
              <ul>
                <li>concat js and css files</li>
                <li>minify/uglify js files</li>
                <li>minify html files</li>
                <li>inline js and css code in html pages</li>
                <li>automatic versioning and git commit</li>
                <li>manage changelog</li>
                <li>deploy using ssh to remote server</li>
              </ul>
            </li>
         </ul>
        </li>
        <li>Implementation of components to carry liquids (pumps, sensors, basins etc.)</li>
      </ul>
    </p><br/>
    <a target="_blank" href="/html/sample_01.html">Sample 1</a><br/><br/>
    <a target="_blank" href="/html/sample_02.html">Sample 2</a><br/><br/>
    <a target="_blank" href="/html/sample_03.html">Sample 3</a><br/><br/>
  </body>
</html>
